---
- name: Install packeges
  yum: name={{ item }} state=latest
  with_items:
  - python-pycurl
  - git

- name: Get jenkins repo
  get_url:
    url: http://pkg.jenkins-ci.org/redhat/jenkins.repo 
    dest: /etc/yum.repos.d/jenkins.repo

- name: Import jenkins key
  shell: "rpm --import https://jenkins-ci.org/redhat/jenkins-ci.org.key"

- name: Install Jenkins
  yum: name=jenkins state=latest

- name: Enable Jenkins
  service: name=jenkins enabled=yes
  notify: restart jenkins

- name: Start Jenkins service
  service: name=jenkins state=started
