---

- name: Add Zabbix repository
  yum:
    name: "rpm -Uvh http://repo.zabbix.com/zabbix/3.0/rhel/7/x86_64/zabbix-release-3.0-1.el7.noarch.rpm"
    state: present

- name: Update SELinux yum packages to latest
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - selinux-policy
    - policycoreutils
    - selinux-policy-targeted
    - policycoreutils-python
    - polkit

- name: Install yum packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - zabbix-server-mysql
    - zabbix-web-mysql
    - zabbix-agent
    - zabbix-java-gateway

- name: Run Zabbix on boot
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  with_items:
    - zabbix-server

