---
- name: Install GitLab dependencies.
  yum: name={{ item }} state=latest
  with_items:
    - openssh-server
    - postfix
    - curl
    - ca-certificates

- name: Download GitLab repository installation script.
  get_url:
    url: https://packages.gitlab.com/install/repositories/gitlab/gitlab-ce/script.rpm.sh
    dest: /usr/src/gitlab.rpm.sh
    mode: 0755
    validate_certs: no

- name: Install gitlab repo
  shell: /usr/src/gitlab.rpm.sh

- name: Install gitlab
  yum: name=gitlab-ce state=latest
  notify: configure gitlab

- name: Enable sshd
  service: name=sshd enabled=yes
  notify: restart sshd

- name: Enable postfix
  service: name=postfix enabled=yes
  notify: restart postfix

- name: Copy template (for AD)
  template: src=gitlab.rb.j2 dest=/etc/gitlab/gitlab.rb owner=root group=root mode=0600
  notify: configure gitlab
  when: gitlab_ad
